.div {
    padding-bottom: 110px;
    padding-top: 110px;
    color: #F1EBBB;
    text-align: center;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.form {
    height: 250px;
    border-radius: 18px;
    margin-right: 33%;
    margin-left: 33%;
    align-self: center;
    background-color: #393E46;
}

.form p{
    text-size-adjust: 14px;
}

.form h2 {
    background-color: #00ADB5;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}

.form a{
    text-decoration: none;
    color: #F1EBBB;
    text-size-adjust: 16px;
}

.form a:hover{
    color: darksalmon;
}

.yes{
    color: #F1EBBB;
    background: transparent;
}