{% extends 'main.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/about.css' %}">
</head>

<div class="div">
    <div class="box">
        <div class="up"><h1>About</h1></div> 
        <p> 
            This project is Ala-too Forum Web-app. This application was conceived as a copy of Reddit and 4chan, 
            where you can choose your topic and ask, answer questions, but in Ala-too University theme,
            where you can ask question about studies. As you can see ALL font text is Comic Sans, because it is the most gorgeous 
            text font in our world and other worlds.
        </p>
    </div>
    
</div>

{% endblock content %}