{% extends 'main.html' %}
{% load static %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'styles/delete.css' %}">
</head>
<div class="div">
    <form method="POST" action="" class="form">
        {% csrf_token %}
        <h2>Do you want to delete "{{obj}}"</h2>
        <p>All content, comments will gone forever.</p>
        <p>Are You sure?.</p>
        <a href="{{request.META.HTTP_REFERER}}">Back</a>
        <input class="yes" type="submit" value="Yes">
    </form>
</div>

{% endblock content %}